doctype html 
html 
    head 
        title City Convent School 
        block style 
            style 
                include ../static/style.css
    body
        <nav class="navbar background h-nav-resp">
        <ul class="left_nav v-nav-resp ">
            <div class="logo"><img src="/static/logo.webp" alt=""></div>
            <li><a href="/">Home</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="#Contact_Us">Contact_Us</a></li>
        </ul>
        <div class="right_nav v-nav-resp">
            <input type="text" name="search" id="search" placeholder="Search here">
            <button class="btn">Search</button>
        </div>
        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        </nav> 
        block scripts 
            script(src="../static/responsive.js")  
    block content 
   
    footer 
         <p class="foot background">Copywrite &copy; 2023 - www.CityConventSchool.com - All Write Reserved</p>
    
