<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>City Convent School</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <nav class="navbar background h-nav-resp">
        <ul class="left_nav v-nav-resp ">
            <div class="logo"><img src="/static/logo.webp" alt=""></div>
            <li><a href="/">Home</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/Contact_us">Contact_Us</a></li>
        </ul>
        <div class="right_nav v-nav-resp">
            <input type="text" name="search" id="search" placeholder="Search here">
            <button class="btn">Search</button>
        </div>
        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </nav>

    <section class="section1 background" id="Home">
        <div class="main">
            <h1>City Convent School</h1>
            <p>A school is an educational institution designed to provide learning spaces and learning environments for the teaching of students under the direction of teachers. Our school inspire from this and plan to contribute in the success of a child by giving him/her proper education.</p>
            <div class="bt">
                <button class="btns">Log-In</button>
                <button class="btns">Sign-In</button>
            </div>
        </div>
    </section>

    <section class="section2">
        <div class="data1">
            <h2>Initiate to educate your child</h2>
            <p class="para">
                Education involves essentially process which intentionally transmit. What is valuable in an intelligible and voluntary manner and which creates in the learner a desire to achieve it. In the teaching learning situation. We come in contact with terms like “Training,” “instruction” and teaching which are too specific.

                But education can occur, without these specific terms. The term inition on the other hand is general term which emphasises that people should be initiated gradually into the procedures defining a discipline as well as into a mastery of the established content that people should learn to think. Thus, education implies standards. It consists initiating others into activities, modes of conduct and though, which have standards.
                
                Such initiation can develop the quality of life of the pupils. The great teacher is he who can convey this sense of quality to another, so that he can become successful in making others believe in what he believes and making others think what he thinks.
                
                Man is not born with virtues. The teacher imprints virtues in the minds of the pupils and initiates them to avoid animal enjoyment and to accept a good quality of living.
            </p>
        </div>
        <div class="data2">
            <img src="/static/initiate.jpg" alt="initiate">
        </div>
    </section>
    <section class="section2 reverse">
        <div class="data1 ">
            <h2>Focus On Exploring Thing</h2>
            <p>
                Exploration is the driving force behind humankind.  We have been exploring since the dawn of time, because it is at the centre of everything we do.  From birth, we learn through experience and we can make better decisions tomorrow from the information we have unearthed today.
                Everything we know today has been the result of explorers who have gone before us.  Exploring is to travel through the unknown to learn or discover new information.  Discoveries in geography, medicine, space, flora and fauna, that have changed the world for the better, are but a few of the riches of exploration.
                Today society seeks riches of other kinds. Equality of race and gender, alleviation of poverty, advances in health and education, tolerance and peace and preservation of the environment among them. Discoveries in the modern world will come; but only if we seek them and we are prepared to embark on uncovering the source of todays unknowns.
                Real exploration cannot be done through a screen or second-hand; true perspective must be obtained first-hand as primary evidence. The great explorers and creators of history have known this and it remains the same today.
                If the leaders of tomorrow are inspired to explore, understand how the world fits together and how they fit within it, our global community will be all the richer for the decisions they will make toward a better world.
        </div>
        <div class="data2">
            <img src="/static/explore.webp" alt="initiate">
        </div>
    </section>
    <section class="section2">
        <div class="data1">
            <h2>Make Your Child Successful</h2>
            <p class="para">
                A person’s life has no value without having dreams. To achieve success or the goal of your life, you need to work accordingly. So your achievement decides the kind of person you must be and the kind of lifestyle you must maintain. If a person has dreams but sits idle without putting effort, then there is no value and no success. A person can be successful if they have the dedication to their goals and the courage to face all the challenges. For some people, success means having a lot of money. But real success is achieving your dream and achieving your goal. A person who dreams of becoming a doctor can become a doctor only if he puts in the required effort and works hard. Suppose he knows which path to choose and how to work on the path. There is no shortcut to success. To be successful, you need to follow the path of honesty, truthfulness and hard work. The path to success is never so easy and has no alternative. A person will have to cross all the hurdles and still be strong enough to walk through the path. If you give up, then you fail. It might take time and a lot of effort to find the solution to every problem, but there is always a solution; we just need to look in the right direction.
                A person’s life has no value without having dreams. To achieve success or the goal of your life, you need
            </p>
        </div>
        <div class="data2">
            <img src="/static/success.avif" alt="initiate">
        </div>
    </section>

   

    <footer class="background">
        <p class="foot">Copywrite &copy; 2023 - www.CityConventSchool.com - All Write Reserved</p>
    </footer>
    <script src="/static/responsive.js"></script>
</body>

</html>